*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.svn/
*.swp
.nojekyll
.project
.settings/
node_modules/
_site/
run.bat
dir.txt
/**/layim/
/**/layim.js
/**/layim-mobile.js
/**/layim.html
/**/layim.m.html
release/

