*~
~*

*.bak
*.bat
*.diff
*.err
*.log
*.patch
*.swo
*.swp
*.zip

.DS_Store
.env
.nojekyll
.project
.settings
package-lock.json
Thumbs.db

.idea/
.svn/
_site/
.vscode/
node_modules/


# Published folders
/release/
/v/
