/**
 * Layui
 * MIT Licensed
 */

@import url('./var.css');
@import url('./base.css');
@import url('./modules/icon.css');
@import url('./modules/layout.css');
@import url('./modules/auxiliary.css');
@import url('./modules/progress.css');
@import url('./modules/panel.css');
@import url('./modules/theme.css');
@import url('./modules/text.css');
@import url('./modules/button.css');
@import url('./modules/form.css');
@import url('./modules/laypage.css');
@import url('./modules/flow.css');
@import url('./modules/table.css');
@import url('./modules/upload.css');
@import url('./modules/menu.css');
@import url('./modules/tabs.css');
@import url('./modules/tab.css');
@import url('./modules/nav.css');
@import url('./modules/timeline.css');
@import url('./modules/badge.css');
@import url('./modules/carousel.css');
@import url('./modules/util.css');
@import url('./modules/transfer.css');
@import url('./modules/rate.css');
@import url('./modules/colorpicker.css');
@import url('./modules/slider.css');
@import url('./modules/tree.css');
@import url('./modules/anim.css');
@import url('./modules/code.css');
@import url('./modules/laydate.css');
@import url('./modules/layer.css');
