/** 动画 **/
.lay-anim {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.lay-anim.lay-icon {
  display: inline-block;
}
.lay-anim-loop {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.lay-trans,
.lay-trans a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
} /* 过渡变换 */

/* 循环旋转 */
@-webkit-keyframes lay-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes lay-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lay-anim-rotate {
  -webkit-animation-name: lay-rotate;
  animation-name: lay-rotate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* 从最底部往上滑入 */
@-webkit-keyframes lay-up {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0.3;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes lay-up {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0.3;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.lay-anim-up {
  -webkit-animation-name: lay-up;
  animation-name: lay-up;
}

/* 微微往上滑入 */
@-webkit-keyframes lay-upbit {
  from {
    -webkit-transform: translate3d(0, 15px, 0);
    opacity: 0.3;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes lay-upbit {
  from {
    transform: translate3d(0, 15px, 0);
    opacity: 0.3;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.lay-anim-upbit {
  -webkit-animation-name: lay-upbit;
  animation-name: lay-upbit;
}

/* 从最顶部往下滑入 */
@keyframes lay-down {
  0% {
    opacity: 0.3;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.lay-anim-down {
  animation-name: lay-down;
}

/* 微微往下滑入 */
@keyframes lay-downbit {
  0% {
    opacity: 0.3;
    transform: translate3d(0, -5px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.lay-anim-downbit {
  animation-name: lay-downbit;
}

/* 放大 */
@-webkit-keyframes lay-scale {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes lay-scale {
  0% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.lay-anim-scale {
  -webkit-animation-name: lay-scale;
  animation-name: lay-scale;
}

/* 弹簧式放大 */
@-webkit-keyframes lay-scale-spring {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes lay-scale-spring {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.lay-anim-scaleSpring {
  -webkit-animation-name: lay-scale-spring;
  animation-name: lay-scale-spring;
}

/* 放小 */
@keyframes lay-scalesmall {
  0% {
    opacity: 0.3;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.lay-anim-scalesmall {
  animation-name: lay-scalesmall;
}

/* 弹簧式放小 */
@keyframes lay-scalesmall-spring {
  0% {
    opacity: 0.3;
    transform: scale(1.5);
  }
  80% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.lay-anim-scalesmall-spring {
  animation-name: lay-scalesmall-spring;
}

/* 渐显 */
@-webkit-keyframes lay-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lay-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lay-anim-fadein {
  -webkit-animation-name: lay-fadein;
  animation-name: lay-fadein;
}

/* 渐隐 */
@-webkit-keyframes lay-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lay-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lay-anim-fadeout {
  -webkit-animation-name: lay-fadeout;
  animation-name: lay-fadeout;
}
