/**
 * layer style
 */

/* common */
.lay-layer-shade,
.lay-layer {
  position: fixed;
  pointer-events: auto;
}
.lay-layer-shade {
  opacity: 0;
  transition: opacity 0.35s cubic-bezier(0.34, 0.69, 0.1, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lay-layer {
  top: 150px;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-background-clip: content;
  background-clip: content;
  border-radius: var(--lay-border-radius);
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
}
.lay-layer-close {
  position: absolute;
}
.lay-layer-content {
  position: relative;
}
.lay-layer-border {
  border: 1px solid #b2b2b2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.lay-layer-load {
  background: url('data:image/gif;base64,R0lGODlhJQAlAJECAL3L2AYrTv///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgACACwAAAAAJQAlAAACi5SPqcvtDyGYIFpF690i8xUw3qJBwUlSadmcLqYmGQu6KDIeM13beGzYWWy3DlB4IYaMk+Dso2RWkFCfLPcRvFbZxFLUDTt21BW56TyjRep1e20+i+eYMR145W2eefj+6VFmgTQi+ECVY8iGxcg35phGo/iDFwlTyXWphwlm1imGRdcnuqhHeop6UAAAIfkEBQoAAgAsEAACAAQACwAAAgWMj6nLXAAh+QQFCgACACwVAAUACgALAAACFZQvgRi92dyJcVJlLobUdi8x4bIhBQAh+QQFCgACACwXABEADAADAAACBYyPqcsFACH5BAUKAAIALBUAFQAKAAsAAAITlGKZwWoMHYxqtmplxlNT7ixGAQAh+QQFCgACACwQABgABAALAAACBYyPqctcACH5BAUKAAIALAUAFQAKAAsAAAIVlC+BGL3Z3IlxUmUuhtR2LzHhsiEFACH5BAUKAAIALAEAEQAMAAMAAAIFjI+pywUAIfkEBQoAAgAsBQAFAAoACwAAAhOUYJnAagwdjGq2amXGU1PuLEYBACH5BAUKAAIALBAAAgAEAAsAAAIFhI+py1wAIfkEBQoAAgAsFQAFAAoACwAAAhWUL4AIvdnciXFSZS6G1HYvMeGyIQUAIfkEBQoAAgAsFwARAAwAAwAAAgWEj6nLBQAh+QQFCgACACwVABUACgALAAACE5RgmcBqDB2MarZqZcZTU+4sRgEAIfkEBQoAAgAsEAAYAAQACwAAAgWEj6nLXAAh+QQFCgACACwFABUACgALAAACFZQvgAi92dyJcVJlLobUdi8x4bIhBQAh+QQFCgACACwBABEADAADAAACBYSPqcsFADs=')
    #fff center center no-repeat;
}
.lay-layer-setwin span,
.lay-layer-btn a {
  display: inline-block;
  vertical-align: middle;
}

.lay-layer-move {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
  opacity: 0;
  background-color: #fff;
  z-index: 2147483647;
}
.lay-layer-resize {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

/* 动画 */
.layer-anim {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes layer-bounceIn {
  /* 默认 */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes layer-bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.layer-anim-00 {
  -webkit-animation-name: layer-bounceIn;
  animation-name: layer-bounceIn;
}

@-webkit-keyframes layer-zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes layer-zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-01 {
  -webkit-animation-name: layer-zoomInDown;
  animation-name: layer-zoomInDown;
}

@-webkit-keyframes layer-fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes layer-fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.layer-anim-02 {
  -webkit-animation-name: layer-fadeInUpBig;
  animation-name: layer-fadeInUpBig;
}

@-webkit-keyframes layer-zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes layer-zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-03 {
  -webkit-animation-name: layer-zoomInLeft;
  animation-name: layer-zoomInLeft;
}

@-webkit-keyframes layer-rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes layer-rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
.layer-anim-04 {
  -webkit-animation-name: layer-rollIn;
  animation-name: layer-rollIn;
}

@-webkit-keyframes layer-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes layer-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.layer-anim-05 {
  -webkit-animation-name: layer-fadeIn;
  animation-name: layer-fadeIn;
}

@-webkit-keyframes layer-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes layer-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.layer-anim-06 {
  -webkit-animation-name: layer-shake;
  animation-name: layer-shake;
}

/* 从上往下 */
@keyframes layer-slide-down {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes layer-slide-down-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
.layer-anim-slide-down {
  animation-name: layer-slide-down;
}
.layer-anim-slide-down-out {
  animation-name: layer-slide-down-out;
}

/* 从右往左 */
@keyframes layer-slide-left {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes layer-slide-left-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.layer-anim-slide-left {
  animation-name: layer-slide-left;
}
.layer-anim-slide-left-out {
  animation-name: layer-slide-left-out;
}

/* 从下往上 */
@keyframes layer-slide-up {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes layer-slide-up-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
.layer-anim-slide-up {
  animation-name: layer-slide-up;
}
.layer-anim-slide-up-out {
  animation-name: layer-slide-up-out;
}

/* 从左往右 */
@keyframes layer-slide-right {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes layer-slide-right-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.layer-anim-slide-right {
  animation-name: layer-slide-right;
}
.layer-anim-slide-right-out {
  animation-name: layer-slide-right-out;
}

/* 标题栏 */
.lay-layer-title {
  padding: 0 81px 0 16px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: var(--lay-border-radius) var(--lay-border-radius) 0 0;
}
.lay-layer-setwin {
  position: absolute;
  right: 15px;
  top: 16px;
  font-size: 0;
  line-height: initial;
}
.lay-layer-setwin span {
  position: relative;
  width: 16px;
  height: 16px;
  line-height: 18px;
  margin-left: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  box-sizing: border-box;
}
.lay-layer-setwin .lay-layer-min:before {
  content: '';
  position: absolute;
  width: 12px;
  border-bottom: 1px solid #2e2d3c;
  left: 50%;
  top: 50%;
  margin: -0.5px 0 0 -6px;
  cursor: pointer;
}
.lay-layer-setwin .lay-layer-min:hover:before {
  background-color: #2d93ca;
}
.lay-layer-setwin .lay-layer-max:before,
.lay-layer-setwin .lay-layer-max:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 9px;
  height: 9px;
  margin: -5px 0 0 -5px;
  border: 1px solid #2e2d3c;
}
.lay-layer-setwin .lay-layer-max:hover:before,
.lay-layer-setwin .lay-layer-max:hover:after {
  border-color: #2d93ca;
}
.lay-layer-setwin .lay-layer-min:hover:before {
  background-color: #2d93ca;
}
.lay-layer-setwin .lay-layer-maxmin:before,
.lay-layer-setwin .lay-layer-maxmin:after {
  width: 7px;
  height: 7px;
  margin: -3px 0 0 -3px;
  background-color: #fff;
}
.lay-layer-setwin .lay-layer-maxmin:after {
  z-index: 0;
  margin: -5px 0 0 -1px;
}
.lay-layer-setwin .lay-layer-close {
  cursor: pointer;
}
.lay-layer-setwin .lay-layer-close:hover {
  opacity: 0.7;
}
.lay-layer-setwin .lay-layer-close2 {
  position: absolute;
  right: -28px;
  top: -28px;
  color: #fff;
  background-color: #787878;
  padding: 3px;
  border: 3px solid;
  width: 28px;
  height: 28px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 50%;
  margin-left: 0;
}
.lay-layer-setwin .lay-layer-close2:hover {
  opacity: unset;
  background-color: #3888f6;
}

/* 按钮栏 */
.lay-layer-btn {
  text-align: right;
  padding: 0 15px 12px;
  pointer-events: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.lay-layer-btn a {
  height: 30px;
  line-height: 30px;
  margin: 5px 5px 0;
  padding: 0 var(--lay-spacing);
  border: 1px solid #dedede;
  background-color: #fff;
  color: #333;
  border-radius: var(--lay-border-radius);
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}
.lay-layer-btn a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.lay-layer-btn a:active {
  opacity: 0.8;
}
.lay-layer-btn .lay-layer-btn0 {
  border-color: transparent;
  background-color: #1e9fff;
  color: #fff;
}
.lay-layer-btn-l {
  text-align: left;
}
.lay-layer-btn-c {
  text-align: center;
}
.lay-layer-btn-is-loading {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  cursor: wait !important;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}
.lay-layer-btn-is-loading .lay-layer-btn-loading-icon {
  margin-right: 8px;
  font-size: 14px;
}

/* 定制化 */
.lay-layer-dialog {
  min-width: 240px;
}
.lay-layer-dialog .lay-layer-content {
  position: relative;
  padding: 16px;
  line-height: 24px;
  word-break: break-all;
  overflow: hidden;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
.lay-layer-dialog .lay-layer-content .lay-layer-face {
  position: absolute;
  top: 18px;
  left: 16px;
  color: #959595;
  font-size: 32px;
}
.lay-layer-dialog .lay-layer-content .lay-icon-tips {
  color: #f39b12;
}
.lay-layer-dialog .lay-layer-content .lay-icon-success {
  color: var(--lay-color-accent);
}
.lay-layer-dialog .lay-layer-content .lay-icon-error {
  top: 19px;
  color: #ff5722;
}
.lay-layer-dialog .lay-layer-content .lay-icon-question {
  color: #ffb800;
}
.lay-layer-dialog .lay-layer-content .lay-icon-lock {
  color: #787878;
}
.lay-layer-dialog .lay-layer-content .lay-icon-face-cry {
  color: #ff5722;
}
.lay-layer-dialog .lay-layer-content .lay-icon-face-smile {
  color: var(--lay-color-accent);
}

.lay-layer-rim {
  border: 6px solid #8d8d8d;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: none;
}
.lay-layer-msg {
  min-width: 180px;
  border: 1px solid #d3d4d3;
  box-shadow: none;
}
.lay-layer-hui {
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
}
.lay-layer-hui .lay-layer-close {
  color: #fff;
}
.lay-layer-hui .lay-layer-content {
  padding: 11px 24px;
  text-align: center;
}
.lay-layer-dialog .lay-layer-padding {
  padding: 18px 24px 18px 58px;
  text-align: left;
}
.lay-layer-page .lay-layer-content {
  position: relative;
  overflow: auto;
}
.lay-layer-page .lay-layer-btn,
.lay-layer-iframe .lay-layer-btn {
  padding-top: 10px;
}
.lay-layer-nobg {
  background: none;
}
.lay-layer-iframe iframe {
  display: block;
  width: 100%;
}

.lay-layer-loading {
  border-radius: 100%;
  background: none;
  box-shadow: none;
  border: none;
}
.lay-layer-loading .lay-layer-content {
  width: 76px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.lay-layer-loading-icon {
  font-size: 38px;
  color: #959595;
}
.lay-layer-loading2 {
  text-align: center;
}
.lay-layer-loading-2 {
  position: relative;
  height: 38px;
}
.lay-layer-loading-2:before,
.lay-layer-loading-2:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 38px;
  height: 38px;
  margin: -19px 0 0 -19px;
  border-radius: 50%;
  border: 3px solid var(--lay-border-color-accent);
  box-sizing: border-box;
}
.lay-layer-loading-2:after {
  border-color: transparent;
  border-left-color: #1e9fff;
}

.lay-layer-tips {
  background: none;
  box-shadow: none;
  border: none;
}
.lay-layer-tips .lay-layer-content {
  position: relative;
  line-height: 22px;
  min-width: 12px;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: var(--lay-border-radius);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #000;
  color: #fff;
}
.lay-layer-tips .lay-layer-close {
  right: -2px;
  top: -1px;
}
.lay-layer-tips i.lay-layer-TipsG {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: dashed;
}
.lay-layer-tips i.lay-layer-TipsT,
.lay-layer-tips i.lay-layer-TipsB {
  left: 5px;
  border-right-style: solid;
  border-right-color: #000;
}
.lay-layer-tips i.lay-layer-TipsT {
  bottom: -8px;
}
.lay-layer-tips i.lay-layer-TipsB {
  top: -8px;
}
.lay-layer-tips i.lay-layer-TipsR,
.lay-layer-tips i.lay-layer-TipsL {
  top: 5px;
  border-bottom-style: solid;
  border-bottom-color: #000;
}
.lay-layer-tips i.lay-layer-TipsR {
  left: -8px;
}
.lay-layer-tips i.lay-layer-TipsL {
  right: -8px;
}

/* 内置 skin */
.lay-layer-lan .lay-layer-title {
  background: #4476a7;
  color: #fff;
  border: none;
}
.lay-layer-lan .lay-layer-btn {
  padding: 5px 10px 10px;
  border-top: 1px solid #e9e7e7;
}
.lay-layer-lan .lay-layer-btn a {
  background: #fff;
  border-color: #e9e7e7;
  color: #333;
}
.lay-layer-lan .lay-layer-btn .lay-layer-btn1 {
  background: #c9c5c5;
}
.lay-layer-molv .lay-layer-title {
  background: #009f95;
  color: #fff;
  border: none;
}
.lay-layer-molv .lay-layer-btn a {
  background: #009f95;
  border-color: #009f95;
}
.lay-layer-molv .lay-layer-btn .lay-layer-btn1 {
  background: #92b8b1;
}
.lay-layer-lan .lay-layer-setwin .lay-icon,
.lay-layer-molv .lay-layer-setwin .lay-icon {
  color: #fff;
}

/* Windows 10 风格主题  */
.lay-layer-win10 {
  border: 1px solid #aaa;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: none;
}
.lay-layer-win10 .lay-layer-title {
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  border-bottom: none;
  font-size: 12px;
}
.lay-layer-win10 .lay-layer-setwin {
  right: 0;
  top: 0;
}
.lay-layer-win10 .lay-layer-setwin span {
  margin-left: 0;
  width: 32px;
  height: 32px;
  padding: 8px;
}
.lay-layer-win10.lay-layer-page .lay-layer-setwin span {
  width: 38px;
}
.lay-layer-win10 .lay-layer-setwin span:hover {
  background-color: #e5e5e5;
}
.lay-layer-win10 .lay-layer-setwin span.lay-icon-close:hover {
  background-color: #e81123;
  color: #fff;
}
.lay-layer-win10.lay-layer-dialog .lay-layer-content {
  padding: var(--lay-spacing-sm) var(--lay-spacing) var(--lay-spacing-lg);
  color: #0033bc;
}
.lay-layer-win10.lay-layer-dialog .lay-layer-padding {
  padding-top: 18px;
  padding-left: 58px;
}
.lay-layer-win10 .lay-layer-btn {
  padding: 5px 5px 10px;
  border-top: 1px solid #dfdfdf;
  background-color: #f0f0f0;
}
.lay-layer-win10 .lay-layer-btn a {
  height: 20px;
  line-height: 18px;
  background-color: #e1e1e1;
  border-color: #adadad;
  color: #000;
  font-size: 12px;
  transition: all 0.3s;
}
.lay-layer-win10 .lay-layer-btn a:hover {
  border-color: #2a8edd;
  background-color: #e5f1fb;
}
.lay-layer-win10 .lay-layer-btn .lay-layer-btn0 {
  border-color: #0078d7;
}

/**
 * layer 拓展层
 */

/* prompt */
.lay-layer-prompt .lay-layer-input {
  display: block;
  width: 260px;
  height: 36px;
  margin: 0 auto;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid #e6e6e6;
  color: #333;
}
.lay-layer-prompt textarea.lay-layer-input {
  width: 300px;
  height: 100px;
  line-height: 20px;
  padding: 6px 10px;
}
.lay-layer-prompt .lay-layer-content {
  padding: var(--lay-spacing);
}
.lay-layer-prompt .lay-layer-btn {
  padding-top: 0;
}

/* tab */
.lay-layer-tab {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4);
}
.lay-layer-tab .lay-layer-title {
  padding-left: 0;
  overflow: visible;
}
.lay-layer-tab .lay-layer-title span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  min-width: 80px;
  max-width: 300px;
  padding: 0 var(--lay-spacing);
  text-align: center;
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.lay-layer-tab .lay-layer-title span.lay-this {
  height: 51px;
  border-left-color: var(--lay-border-color);
  border-right-color: var(--lay-border-color);
  background-color: #fff;
  z-index: 10;
}
.lay-layer-tab .lay-layer-title span:first-child {
  border-left-color: transparent;
}
.lay-layer-tabmain {
  line-height: 24px;
  clear: both;
}
.lay-layer-tabmain .lay-layer-tabli {
  display: none;
}
.lay-layer-tabmain .lay-layer-tabli.lay-this {
  display: block;
}

/* photos */
.lay-layer-photos {
  background: none;
  box-shadow: none;
}
.lay-layer-photos .lay-layer-content {
  overflow: visible;
  text-align: center;
}
.lay-layer-photos .layer-layer-photos-main img {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.lay-layer-photos-prev,
.lay-layer-photos-next {
  position: fixed;
  top: 50%;
  width: 52px;
  height: 52px;
  line-height: 52px;
  margin-top: -26px;
  cursor: pointer;
  font-size: 52px;
  color: #717171;
}
.lay-layer-photos-prev {
  left: 32px;
}
.lay-layer-photos-next {
  right: 32px;
}
.lay-layer-photos-prev:hover,
.lay-layer-photos-next:hover {
  color: #959595;
}

.lay-layer-photos-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: rgba(0, 0, 0, 0.32);
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}
.lay-layer-photos-toolbar > * {
  display: inline-block;
  vertical-align: top;
  padding: 0 var(--lay-spacing);
  font-size: 12px;
  color: #fff;
}
.lay-layer-photos-toolbar * {
  font-size: 12px;
}
.lay-layer-photos-header {
  top: 0;
  bottom: auto;
}
.lay-layer-photos-header > span {
  cursor: pointer;
}
.lay-layer-photos-header > span:hover {
  background-color: rgba(51, 51, 51, 0.32);
}
.lay-layer-photos-header .lay-icon {
  font-size: 18px;
}
.lay-layer-photos-footer > h3 {
  max-width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lay-layer-photos-footer a:hover {
  text-decoration: underline;
}
.lay-layer-photos-footer em {
  font-style: normal;
}

/* 关闭动画 */
@-webkit-keyframes layer-bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes layer-bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.layer-anim-close {
  -webkit-animation-name: layer-bounceOut;
  animation-name: layer-bounceOut;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
