/** 分页 **/
.lay-pagination {
  --lay-height: 32px;
  --lay-input-width: 45px;
  --lay-btn-spacing: 11px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 8px;
  font-size: 0.875rem;
}

.lay-pagination {
  > li {
    min-width: var(--lay-height);
    height: var(--lay-height);
    line-height: var(--lay-height);
    margin: 0 3px;
    text-align: center;
  }
  > li > a {
    display: block;
    padding: 0 var(--lay-spacing-sm);
    border: 1px solid transparent;
    border-radius: var(--lay-border-radius);
    transition: all 0.3s;
  }
  .lay-pagination-link {
    cursor: pointer;
  }
  :where(.lay-pagination-link):hover {
    background-color: var(--lay-gray-200);
    color: var(--lay-color-primary);
  }
  :is(select, input, button) {
    height: var(--lay-height);
    line-height: var(--lay-height);
    border-radius: var(--lay-border-radius);
    border: 1px solid var(--lay-border-color);
    background: none;
  }
  select {
    padding: 0 3px;
    cursor: pointer;
  }
  input {
    width: var(--lay-input-width);
    padding: 0 3px;
    text-align: center;
  }
  :is(button, .lay-btn) {
    height: inherit;
    line-height: inherit;
    padding: 0 var(--lay-btn-spacing);
    cursor: pointer;
  }
  :where(select, button):hover {
    border-color: var(--lay-border-color-accent);
  }
  :where(select, input):focus {
    border-color: var(--lay-color-primary);
  }
}

.lay-pagination-item-active > a {
  background-color: var(--lay-color-primary);
  color: #fff;
  font-weight: 700;
}
.lay-pagination-simple-page {
  padding: 0 var(--lay-spacing-sm);
}
.lay-pagination-ellipsis {
  color: var(--lay-gray-500);
}
.lay-pagination-jump {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 3px;
}

/* 对齐方式 */
.lay-pagination-align-start {
  justify-content: start;
}
.lay-pagination-align-center {
  justify-content: center;
}
.lay-pagination-align-end {
  justify-content: end;
}

/* 组件尺寸 */
.lay-pagination.lay-size-sm {
  --lay-height: 24px;
  --lay-input-width: 38px;
  --lay-btn-spacing: 8px;

  font-size: 0.75rem;
}
.lay-pagination.lay-size-lg {
  --lay-height: 38px;
  --lay-input-width: 55px;

  font-size: 1rem;
}

/* 禁用状态 */
.lay-pagination.lay-disabled {
  opacity: 0.55;
  cursor: not-allowed !important;
  color: inherit !important;

  * {
    pointer-events: none;
  }
  :is(select, input, button) {
    border-color: var(--lay-border-color-accent);
    background-color: var(--lay-gray-300);
  }
}

/* 主题风格 */
.lay-pagination-theme-border {
  --lay-color-primary: var(--lay-color-accent);

  > li:not(.lay-pagination-item-active) > a {
    border-color: var(--lay-border-color);
  }
  .lay-pagination-item-active > a {
    border-color: var(--lay-color-primary);
    background-color: transparent;
    color: var(--lay-color-primary);
  }
}
.lay-pagination-theme-background {
  > li:not(.lay-pagination-item-active) > a {
    background-color: var(--lay-gray-300);
  }
}
