/* 进度条 */
.lay-progress {
  --lay-progress-size-md: 8px;
  --lay-progress-size-xl: 18px;
  --lay-progress-border-radius: 160px;

  display: flex;
  align-items: center;
  height: var(--lay-progress-size-md);
  gap: 8px;
}
.lay-progress-rail {
  position: relative;
  flex: 1;
  height: 100%;
  border-radius: var(--lay-progress-border-radius);
  background-color: var(--lay-gray-300);
  overflow: hidden;
}
.lay-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: right;
  background-color: var(--lay-color-accent);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.lay-progress:not(.lay-size-xl) .lay-progress-info {
  font-size: 0.75rem;
}

/* 不同尺寸 */
.lay-progress.lay-size-sm {
  height: 6px;
}
.lay-progress.lay-size-lg {
  height: 11px;
}
.lay-progress.lay-size-xl {
  height: var(--lay-progress-size-xl);
}
