/* 进度条 */
.layui-progress {
  position: relative;
  height: 6px;
  border-radius: 20px;
  background-color: var(--lay-gray-300);
}
.layui-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  max-width: 100%;
  height: 6px;
  border-radius: 20px;
  text-align: right;
  background-color: var(--lay-color-accent);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.layui-progress-big,
.layui-progress-big .layui-progress-bar {
  height: 18px;
  line-height: 18px;
}
.layui-progress-text {
  position: relative;
  top: -20px;
  line-height: 18px;
  font-size: 12px;
  color: #5f5f5f;
}
.layui-progress-big .layui-progress-text {
  position: static;
  padding: 0 10px;
  color: #fff;
}
