/* 文本区域 */
.layui-text {
  line-height: 1.8;
  font-size: 14px;
}
.layui-text h1 {
  margin: 32px 0;
  font-size: 32px;
}
.layui-text h2 {
  margin: 24px 0;
  font-size: 24px;
}
.layui-text h3 {
  margin: 16px 0;
  font-size: 18px;
}
.layui-text h4 {
  margin: 11px 0;
  font-size: 16px;
}
.layui-text h5 {
  margin: 11px 0;
  font-size: 14px;
}
.layui-text h6 {
  margin: 11px 0;
  font-size: 13px;
}
.layui-text p {
  margin: 15px 0;
}
.layui-text p:first-child {
  margin-top: 0;
}
.layui-text p:last-child {
  margin-bottom: 0;
}
.layui-text hr {
  margin: 15px 0;
}
.layui-text ul,
.layui-text ol {
  padding-left: 15px;
}
.layui-text ul li {
  margin-top: 5px;
  list-style-type: disc;
}
.layui-text ol li {
  margin-top: 5px;
  list-style-type: decimal;
}
.layui-text ul ul > li,
.layui-text ol ul > li {
  list-style-type: disc;
}
.layui-text ul li > p:first-child,
.layui-text ol li > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}
.layui-text :where(a:not(.layui-btn)) {
  color: #01aaed;
}
.layui-text :where(a:not(.layui-btn):hover) {
  text-decoration: underline;
}
.layui-text blockquote:not(.layui-elem-quote) {
  margin: 15px 0;
  padding: 5px 15px;
  border-left: 5px solid var(--lay-border-color);
}
.layui-text pre > code:not(.layui-code) {
  display: block;
  padding: 15px;
  font-family: 'Courier New', Consolas, 'Lucida Console', monospace;
}

/* 文本区域辅助  */
.layui-text-em,
.layui-word-aux {
  color: #999 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* 字体大小 */
.layui-font-12 {
  font-size: 12px !important;
}
.layui-font-13 {
  font-size: 13px !important;
}
.layui-font-14 {
  font-size: 14px !important;
}
.layui-font-16 {
  font-size: 16px !important;
}
.layui-font-18 {
  font-size: 18px !important;
}
.layui-font-20 {
  font-size: 20px !important;
}
.layui-font-22 {
  font-size: 22px !important;
}
.layui-font-24 {
  font-size: 24px !important;
}
.layui-font-26 {
  font-size: 26px !important;
}
.layui-font-28 {
  font-size: 28px !important;
}
.layui-font-30 {
  font-size: 30px !important;
}
.layui-font-32 {
  font-size: 32px !important;
}

/* 字体颜色 */
.layui-font-red {
  color: var(--lay-color-red) !important;
} /*赤*/
.layui-font-orange {
  color: var(--lay-color-orange) !important;
} /*橙*/
.layui-font-green {
  color: var(--lay-color-primary) !important;
} /*绿*/
.layui-font-cyan {
  color: #2f4056 !important;
} /*藏青*/
.layui-font-blue {
  color: #01aaed !important;
} /*蓝*/
.layui-font-purple {
  color: var(--lay-color-purple) !important;
} /*紫*/
.layui-font-black {
  color: #000 !important;
} /*深*/
.layui-font-gray {
  color: #c2c2c2 !important;
} /*浅*/
