/*
 * 默认主题
 */

/* 背景颜色 */
.lay-bg-red {
  background-color: var(--lay-color-red) !important;
  color: #fff !important;
} /*赤*/
.lay-bg-orange {
  background-color: var(--lay-color-orange) !important;
  color: #fff !important;
} /*橙*/
.lay-bg-green {
  background-color: var(--lay-color-primary) !important;
  color: #fff !important;
} /*绿*/
.lay-bg-cyan {
  background-color: #2f4056 !important;
  color: #fff !important;
} /*藏青*/
.lay-bg-blue {
  background-color: var(--lay-color-blue) !important;
  color: #fff !important;
} /*蓝*/
.lay-bg-purple {
  background-color: var(--lay-color-purple) !important;
  color: #fff !important;
} /*紫*/
.lay-bg-black {
  background-color: var(--lay-color-black) !important;
  color: #fff !important;
} /*深*/
.lay-bg-gray {
  background-color: var(--lay-color-gray) !important;
  color: #5f5f5f !important;
} /*浅*/

/* 边框 */
.lay-border,
.lay-quote-nm,
.lay-elem-field,
.lay-collapse,
.lay-panel,
.lay-collapse-item,
.lay-collapse-content,
.lay-badge-rim,
.lay-tab-title,
.lay-tab-title .lay-this:after,
.lay-tab-bar,
.lay-tab-card,
.lay-input,
.lay-textarea,
.lay-select,
.lay-input-split,
.lay-form-pane .lay-form-label,
.lay-form-pane .lay-form-item[pane] {
  border-color: var(--lay-border-color);
}

.lay-border {
  border-width: 1px;
  border-style: solid;
  color: #5f5f5f !important;
}
.lay-border-red {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-red) !important;
  color: var(--lay-color-red) !important;
}
.lay-border-orange {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-orange) !important;
  color: var(--lay-color-orange) !important;
}
.lay-border-green {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-primary) !important;
  color: var(--lay-color-primary) !important;
}
.lay-border-cyan {
  border-width: 1px;
  border-style: solid;
  border-color: #2f4056 !important;
  color: #2f4056 !important;
}
.lay-border-blue {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-blue) !important;
  color: var(--lay-color-blue) !important;
}
.lay-border-purple {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-purple) !important;
  color: var(--lay-color-purple) !important;
}
.lay-border-black {
  border-width: 1px;
  border-style: solid;
  border-color: var(--lay-color-black) !important;
  color: var(--lay-color-black) !important;
}

/* 分割线边框 */
hr.lay-border-red,
hr.lay-border-orange,
hr.lay-border-green,
hr.lay-border-cyan,
hr.lay-border-blue,
hr.lay-border-purple,
hr.lay-border-black {
  border-width: 0 0 1px;
}

/* 背景边框 */
.lay-timeline-item:before {
  background-color: var(--lay-gray-300);
}
