/** 文件上传 **/
.lay-upload-file {
  display: none !important;
  opacity: 0.01;
}
.lay-upload-list-item {
  display: flex;
  align-items: center;
  gap: var(--lay-spacing-sm);
  height: 32px;
  margin-top: var(--lay-spacing-sm);
  /*   padding: 0 var(--lay-spacing-sm);
  border: 1px solid var(--lay-border-color); */
  transition: all 0.2s;
  box-sizing: border-box;

  .lay-progress {
    flex: 1;
  }
}
.lay-upload-list-item + .lay-upload-list-item {
  border-top: none;
}
.lay-upload-list-item:hover {
  .lay-upload-list-item-actions {
    opacity: 1;
  }
}
.lay-upload-list-item .lay-icon {
  position: relative;
  color: var(--lay-gray-700);
}
.lay-upload-list-item-name {
  max-width: 50%;
}
.lay-upload-list-item-actions {
  opacity: 0;
  transition: all 0.2s;

  .lay-icon {
    font-size: 18px;
    cursor: pointer;
  }
  .lay-icon:hover {
    color: var(--lay-gray-900);
  }
}
.lay-upload-drag {
  position: relative;
  display: inline-block;
  padding: 30px;
  border: 1px dashed #e2e2e2;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  color: var(--lay-gray-700);
}
.lay-upload-drag .lay-icon {
  font-size: 50px;
  color: var(--lay-color-primary);
}
.lay-upload-drag.lay-upload-dragover {
  border-color: var(--lay-color-primary);
}
.lay-btn-container .lay-upload-choose {
  padding-left: 0;
}
